.container{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: var(--footerHeight);
    background-color: var(--black1);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    margin-top: 4px;
    display: block;
    color: var(--white1);
    cursor: pointer;
    text-decoration: none;
}

.credit {
    position: absolute;
    bottom: 4px;
    color: var(--white1);
}