.container {
    width: fit-content;
    position: relative;
}

button {
    border: none;
    cursor: pointer;
}

.leftChevron {
    transform: rotate(180deg);
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0;
}

.leftChevron:enabled {
    transition: all 0.3s;
    opacity: 1;
}

.rightChevron {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0;
}

.rightChevron:enabled {
    transition: all 0.3s;
    opacity: 1;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray2);
    color: var(--gray1);
    width: var(--projectWidth);
    height: var(--projectHeight);
}