.container {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    justify-content: center;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: var(--introMarginLeft);
}

.meImg {
    width: var(--meImgWidth);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    align-self: center;
}

.description {
    margin: 0;
    color: var(--gray1);
}

.highlight {
    color: var(--orange1);
    display: inline;
}

.normal {
    color: var(--black1);
    margin: 0;
}