.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@supports (height: 100dvh) {
    .container {
        height: 100dvh;
    }
}
  
@media not(height: 100dvh) {
    .container {
        height: 100vh;
    }
}