.container {
    display: inline;
}

.normal {
    color: var(--black1);
    display: inline;
}

.light {
    color: var(--white1);
    display: inline;
}

.highlight {
    color: var(--orange1);
    display: inline;
}