.container {
    display: flex;
    flex-direction: row;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    align-items: center;
}

.summaryContainer {
    margin-left: 40px;
    width: calc(100vw - (2 * var(--padHorizontal) + var(--projectWidth)));
    overflow: visible;
}

.description {
    margin-top: 40px;
    color: var(--gray1);
    text-align: justify;
}

.url {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}