.container {
    display: table-cell;
    vertical-align: middle;
    padding: 0 var(--padHorizontal);
    width: 100vw;
    height: 100vh;
}

.projectsContainer {
    margin-top: 40px;
    width: 100%;
}

.left {
    cursor: pointer;
    transform: rotate(180deg);
    width: var(--iconSize);
    height: var(--iconSize);
}

.right {
    cursor: pointer;
    width: var(--iconSize);
    height: var(--iconSize);
}

.buttons {
    margin-left: 20px;
    display: inline;
}