.container {
    scroll-snap-align: start;
    padding: var(--padHorizontal);
    width: auto;
    min-height: 100vh;
}

.projectsContainer {
    margin-top: 16px;
    width: auto;
    overflow-x: hidden;
}

.left {
    cursor: pointer;
    transform: rotate(180deg);
    width: var(--iconSize);
    height: var(--iconSize);
}

.right {
    cursor: pointer;
    width: var(--iconSize);
    height: var(--iconSize);
}

.buttons {
    margin-left: 20px;
    display: inline;
}