.container {
    width: auto;
}

.innerContainer {
    padding: var(--padHorizontal);
}

@supports (min-height: 100dvh) {
    .innerContainer {
        min-height: 100dvh;
    }
}
  
@media not(min-height: 100dvh) {
    .innerContainer {
        min-height: 100vh;
    }
}

.projectsContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    overflow-x: hidden;
}

.left {
    cursor: pointer;
    transform: rotate(180deg);
    width: var(--iconSize);
    height: var(--iconSize);
}

.right {
    cursor: pointer;
    width: var(--iconSize);
    height: var(--iconSize);
}

.buttons {
    margin-left: 20px;
    display: inline;
}