body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Font Family */

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url('assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url('assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: Lora;
  font-weight: 400;
  src: url('assets/fonts/Lora-Regular.ttf');
}

h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 96px;
  margin: 0;
}

h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 64px;
  margin: 0;
}


h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
}

h4 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

.p1 {
  font-family: Lora;
  font-size: 32px;
}

.p2 {
  font-family: Lora;
  font-size: 24px;
}

.chip {
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
}

.page {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Variables */
:root {
  --white1: #FFFFFF;
  --orange1: #FFB03A;
  --black1: #1E1E1E;
  --gray1: #939393;
  --gray2: #D9D9D9;
  --projectWidth: 480px;
  --projectHeight: 640px;
  --iconSize: 40px;
  --padHorizontal: 180px;
  --footerHeight: 360px;
  --projDescMaxHeight: 440px;
  --projDescMarginTop: 40px;
  --projSummaryMarginLeft: 40px;
  --meImgWidth: 282px;
}

* {
  -webkit-tap-highlight-color: #ffb03a4a;
}

@media (max-width: 1400px) {
  :root {
    --projectWidth: 320px;
    --projectHeight:427px;
    --iconSize: 32px;
    --padHorizontal: 120px;
    --footerHeight: 300px;
    --projDescMaxHeight: 280px;
}

  h2 {
    font-size: 48px;
    margin: 0;
  }
  
  
  h3 {
    font-size: 40px;
    margin: 0;
  }
  
  h4 {
    font-size: 32px;
    margin: 0;
  }
  
  .p1 {
    font-size: 24px;
  }
  
  .p2 {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  :root {
    --projectWidth: 320px;
    --projectHeight:427px;
    --iconSize: 32px;
    --padHorizontal: 100px;
    --footerHeight: 300px;
    --meImgWidth: 240px;
}

  h1 {
    font-size: 80px;
    margin: 0;
  }

  h2 {
    font-size: 44px;
    margin: 0;
  }
  
  h3 {
    font-size: 36px;
    margin: 0;
  }
  
  h4 {
    font-size: 28px;
    margin: 0;
  }
  
  .p1 {
    font-size: 24px;
  }
  
  .p2 {
    font-size: 16px;
  }
  
  .chip {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  :root {
    --projectWidth: 300px;
    --projectHeight: 400px;
    --iconSize: 32px;
    --padHorizontal: 48px;
    --footerHeight: 300px;
    --projDescMarginTop: 24px;
    --projSummaryMarginLeft: 32px;
    --meImgWidth: 220px;
}

  h1 {
    font-size: 64px;
    margin: 0;
  }

  h2 {
    font-size: 36px;
    margin: 0;
  }
  
  h3 {
    font-size: 28px;
    margin: 0;
  }
  
  h4 {
    font-size: 24px;
    margin: 0;
  }
  
  .p1 {
    font-size: 18px;
  }
  
  .p2 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  :root {
    --iconSize: 24px;
    --padHorizontal: 24px;
    --footerHeight: 300px;
    --projDescMaxHeight: auto;
    --projDescMarginTop: 12px;
    --introMarginLeft: 48px;
    --projectWidth: calc(100vw - 2 * var(--padHorizontal));
    --projectHeight: 50vh;
}

  h1 {
    font-size: 56px;
    margin: 0;
  }

  h2 {
    font-size: 32px;
    margin: 0;
  }
  
  h3 {
    font-size: 28px;
    margin: 0;
  }
  
  h4 {
    font-size: 24px;
    margin: 0;
  }
  
  .p1 {
    font-size: 18px;
  }
  
  .p2 {
    font-size: 16px;
  }

  .chip {
    font-size: 12px;
  }
}



@media (max-width: 576px) {
  :root {
    --iconSize: 20px;
    --padHorizontal: 20px;
    --footerHeight: 240px;
    --projDescMaxHeight: auto;
    --projDescMarginTop: 12px;
    --introMarginLeft: var(--padHorizontal);
    --projectWidth: calc(100vw - 2 * var(--padHorizontal));
    --projectHeight: 40dvh;
    --meImgWidth: 50vw;
}

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  .p1 {
    font-size: 16px;
  }
  
  .p2 {
    font-size: 14px;
  }
}